@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  background-color: #252525;
}
button {
  background-color: #191919;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
